html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #948a9c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Barlow', Helvetica, sans-serif;
  font-size: 32px;
}

canvas {
  background-color: rgb(15, 0, 203);
  border: #f7f5f5 5px solid;
  box-shadow: 0 0 2em white;
  margin-bottom: 4em;
}

.screen button,
.screen p {
  color: rgba(255, 215, 0);
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: 1rem;
  padding: 0.3em;
  border: 0;
  margin-bottom: 5em;
  margin-left: 2em;
}

img {
  width: 1050px;
}

.parent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.help-button {
  font-family: inherit;
  font-size: inherit;
  line-height: 1rem;
  padding: 0.3em;
  background-color: #fafafa;
  background-image: linear-gradient(
    #ddd,
    #fafafa,
    #fff 50%,
    #e2e2e2 60%,
    #fff 95%
  );
  color: #333;
  border-radius: 2rem;
  border: 1px solid #bbb;
  border-top-color: #ccc;
  border-bottom-color: #999;
  border-right-color: #aaa;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.6) inset,
    0px -9px 10px -4px rgba(255, 255, 255, 1) inset,
    0 -20px 1px -6px rgba(0, 0, 0, 0.125) inset;
  text-shadow: 0 1px 2px #fff, 0 0 3px #fff, 0 0 10px #fff;
  outline: none;
  position: absolute;
  top: 4.5em;
  left: 0;
}

.help {
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 215, 0);
  top: 1em;
  left: -2.2em;
  position: absolute;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 1em white;
  border-radius: 50%;
}

.help p {
  color: #575151;
  margin: 1em 1.2em;
  padding: 1em;
  text-align: center;
  line-height: 1.2em;
  font-size: 0.5em;
}

.screen {
  position: absolute;
  top: 10em;
  left: 2.5em;
  width: 950px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.mouseDown {
  cursor: url(/images/hand_blue_light.png) 41.5 50, pointer;
}

.mouseUp {
  cursor: url(/images/hand_blue.png) 41.5 50, auto;
}
